* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #515188;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  display: flex;
  grid-template-columns: 1fr;
  gap: 20px;
}

.ptfront {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  width:100%;
}

.ptafter {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width:100%;
}


.partner1:nth-child(2n+1),
.partner1:nth-child(2n+2) {
  grid-row: 2;
}

.partner1:nth-child(2n+3) {
  grid-row: 3;
}

.partner1 {
  position: relative;
  width: 200px;
  height: 250px;
  background-image: url('photo/shadow3.png');
  border-radius: 10px;
  overflow: hidden;
}

.photo-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.partimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.partner1:hover .partimg {
  opacity: 0;
}

.partner1:hover .overlay {
  opacity: 1;
}

.cont {
  color: white;
  text-align: center;
}

.contxt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-size: cover;
}
